# global
#   daemon

# defaults
#   mode http
#   timeout connect 5000ms
#   timeout client 50000ms
#   timeout server 50000ms

# frontend http-in
#   bind *:80
#   default_backend servers

# backend servers
#   balance roundrobin
#   server web1 8088:80 check
#   server web2 8089:80 check



# global
#     daemon
#     maxconn 256

# defaults
#     mode http
#     timeout connect 5000ms
#     timeout client 50000ms
#     timeout server 50000ms

# frontend http-in
#     bind *:80
#     default_backend servers

# backend servers
#     balance roundrobin
#     server web1 4825aa812da309437656c62c055955bab7e1aca922e02f4fd6e03f9b84bfc6e4:80 check
#     server web2 96008b15c6c2dbee02aa408a15cefa065ef66cf67b28aadf31138a13f4ad87e5:80 check




global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    server web1 172.17.0.3:80 check
    server web2 172.17.0.2:80 check
